.section {
    padding: 6rem 10rem 2rem;
    text-align: center;
    background-color: #f7f7f7;
    background: linear-gradient(to top, #3d4a55, #f7f7f7);

  }
  
  .title {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #3d4a55;
    font-weight: bold;
  }
  
  .servicesContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .serviceCard {
    flex: 1;
    min-width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .serviceCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .serviceIconContainer {
    color: #3d4a55;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .serviceTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: 600;
  }
  
  .serviceDescription {
    font-size: 0.9rem;
    color: #666;
  }