.section {
    padding: 2rem 10rem 2rem;
    text-align: center;
    background-color: #f7f7f7;
    background: #f7f7f7;
    padding-bottom: 100px;
  }
  
  .title {
    text-align: left;
    color: #3d4a55;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 25px;
  }

  /* Style for the main title */
.mainTitle {
  text-align: left;
  color: #3d4a55; 
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Style for the subtitle */
.subTitle {
  text-align: left;
  font-size: 1.5rem;
  color: #000; /* Black */
  font-weight: bold;
  margin-bottom: 1rem;
}
  
  .servicesContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .serviceCard {
    flex: 1;
    min-width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  
  .serviceCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .serviceIconContainer {
    color: #3d4a55;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .serviceTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: 600;
  }
  
  .serviceDescription {
    font-size: 0.9rem;
    color: #666;
  }