<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Serve static files directly if they exist
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Serve static HTML files for dynamic routes if they exist
  RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI}/index.html -f
  RewriteRule ^ %{REQUEST_URI}/index.html [L]

  RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI}.html -f
  RewriteRule ^ %{REQUEST_URI}.html [L]

  # Fallback to index.html for unmatched routes
  RewriteRule ^ index.html [L]
</IfModule>
